<h1>create celebritie</h1>

<form action="/celebrities" method="POST">
  <input type="text" name="name" id="">
  <input type="text" name="occupation" id="">
  <input type="text" name="catchPhrase" id="">
  <button>Create</button>
</form>